/* ==================== Member Form Start =================== */
/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.member-form-container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.member-form-container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}

.member-form .input-box {
  width: 100%;
  margin-top: 20px;
}

.input-box label {
  color: #333;
}

.member-form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.member-form .column {
  display: flex;
  column-gap: 15px;
}

/*Member Form Gender*/
.member-form .gender-box {
  margin-top: 20px;
}

.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.member-form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
  font-size: 0.8rem;
}

.member-form .gender {
  column-gap: 5px;
}

.gender input {
  accent-color: rgb(130, 106, 251);
}

.member-form :where(.gender input, .gender label) {
  cursor: pointer;
}

.gender label {
  color: #707070;
}

.gender input[type="radio"] {
  width: auto;
  /* Ensure the radio button takes its default size */
  margin-right: 8px;
  /* Space between the radio button and label */
  accent-color: rgb(130, 106, 251);
  /* Custom color for supported browsers */
  appearance: none;
  /* Remove the default browser styling (optional) */
  border: 2px solid #ddd;
  /* Add a border in case the button isn't appearing */
  border-radius: 50%;
  /* Ensure the radio input is circular */
  width: 16px;
  height: 16px;
  display: inline-block;
}

.gender input[type="radio"]:checked {
  background-color: rgb(130, 106, 251);
  /* Color when selected */
}

/* End of Member Form Gender*/

/*Member Form Address*/
.address :where(input, .select-box) {
  margin-top: 15px;
}

.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}

.error {
  font-size: 0.8rem;
  color: #ca1919;
}

.member-form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}

.member-form button:hover {
  background: rgb(88, 56, 250);
}

/*Responsive*/
@media screen and (max-width: 500px) {
  .member-form .column {
    flex-wrap: wrap;
  }

  .member-form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}

/* ==================== Member Form End =================== */

/* ==================== Member Form Pop Up Start =================== */
/* Hide modal by default */
.modal {
  display: none;
  max-height: 100%; /* Set a maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Show modal when the 'show' class is added */
.modal.show {
  display: block;
}

.modal-overlay.show {
  display: block;
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 100;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(73, 73, 73);
  padding: 5px;
  border-radius: 10px;
  z-index: 101;
  display: none;
}

/* ==================== Member Form Pop Up End =================== */

.edit-modal {
  display: none;
  max-height: 100%; /* Set a maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Show modal when the 'show' class is added */
.edit-modal.show {
  display: block;
}

.edit-modal-overlay.show {
  display: block;
}

/* Modal styles */
.edit-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 100;
}

.edit-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(73, 73, 73);
  padding: 5px;
  border-radius: 10px;
  z-index: 101;
  display: none;
}