.member-container .add-member {
    background: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    width: 50%;
    height: 4rem;
    border-radius: var(--border-radius-3);
}

main .member-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

/* Adjusting the button width */
.member-container .add-member {
    width: 20%;
}

.member-container .add-member:hover {
    background: var(--color-primary);
    color: white;
}

.member-container .add-member div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.member-container .add-member h3 {
    font-weight: 600;
}

/* START Members Detail TABLE */
main .member-detail {
    margin-top: 2rem;

}

main .member-detail h2 {
    margin-bottom: 0.8rem;
}

main .member-detail table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .member-detail table:hover {
    cursor: pointer;
    box-shadow: none;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
    border: none;
}

main .member-detail a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}
/* END RECENT MEMBER */

/* START MEMBER SEARCH */
.right .notification-section {
    margin-top: 2rem;
  }
  .right .notification-section h2 {
    margin-bottom: 0.8rem;
  }
  
  .right .notification-section .message-count{
    background: var(--color-danger);
    color: var(--color-white);
    margin-left: 0.5rem;
    padding: 2px 9px;
    font-size: 18px;
    border-radius: var(--border-radius-1);
  }
  
  .right .notification-section .item {
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
  }
  
  .right .notification-section .item:hover {
    cursor: pointer;
    box-shadow: none;
  }
  .right .notification-section .item .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
  }
  .right .notification-section .item .icon {
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-primary);
    display: flex;
  }
  
  .right .notification-section .item .icon .material-icons-sharp{
    font-size: 35px;
  }
  
  .right .notification-section .item.alert .icon {
    background: var(--color-warning);
    
  }
  
  .right .notification-section .item.warning .icon {
    background: var(--color-danger);
  }
  
  .right .notification-section .item.info .icon {
    background: var(--color-primary);
  }
  
  .right .notification-section .item.alert {
    background: var(--color-warning);
    
  }
  
  .right .notification-section .item.warning {
    background: var(--color-danger);
  }
  
  .right .notification-section .item.info {
    background: var(--color-primary);
  }
  /* END MEMBER SEARCH */