.feedback-container .add-feedback {
    background: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    width: 50%;
    height: 4rem;
    border-radius: var(--border-radius-3);
}

main .feedback-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

/* Adjusting the button width */
.feedback-container .add-feedback {
    width: 20%;
}

.feedback-container .add-feedback:hover {
    background: var(--color-primary);
    color: white;
}

.feedback-container .add-feedback div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.feedback-container .add-feedback h3 {
    font-weight: 600;
}

/* START feedback Detail TABLE */
main .feedback-detail {
    margin-top: 2rem;

}

main .feedback-detail h2 {
    margin-bottom: 0.8rem;
}

main .feedback-detail table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    margin-bottom: 0.5rem;
}

main .feedback-detail table:hover {
    cursor: pointer;
    box-shadow: none;
}

/* Ensures that the comment text wraps within the table cell */
main table tbody td {
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

/* Specific styling for the comments column */
main table tbody td:nth-child(5) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 300px;
    /* Set a reasonable maximum width for the comments column */
    word-wrap: break-word;
    white-space: normal;
    /* Ensures text wraps properly */
}

/* Ensuring table header cells have good readability */
main .feedback-detail table th {
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    color: var(--color-dark);
}

/* Padding inside table cells for better spacing */
main table tbody td {
    padding: 0.8rem;
}

main table tbody tr:last-child td {
    border: none;
}

main .feedback-detail a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}